name: linter and tests

on:
  push:
    branches: main

jobs:
  lint:
    runs-on: ubuntu-latest

     services:
      postgres:
        image: postgres:12.3
        env:
          DB_CONNECTION: pgsql
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: test
        ports:
        - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP
        # https://github.com/shivammathur/setup-php
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
      - name: Install
        run: make setup
      - name: Run linter
        run: make lint
      - name: Execute tests (Unit and Feature tests) via PHPUnit
        run: make test
      - name: Run test and show code coverage
        uses: paambaati/codeclimate-action@v2.6.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        with:
          coverageCommand: make test-coverage
          coverageLocations: ${{ github.workplace }}/build/logs/clover.xml:clover
          debug: true
